.button_color{   
    background-color: rgb(#FFFF);
    border-radius: 12px;
    border-style: none;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    text-align: center;
    font-size: 20px;
    padding: 16px, 32px;
    color: black;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    border:2px solid #4caf50;

}

.button_color:hover{ 
    color: white;
    background-color: #4caf50;
}

.Banner_buttons{
    display: flex;
    justify-content:space-evenly;
    height: 6rem;
    padding-top: 30px;
}